<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/register">该账号已经被注册或者存在未填写的信息，请核对后重新输入，如果有疑问请及时联系任课教师，您可以点击此处返回重新注册</a>
</body>
</html>